body {
    background-color: #212121;
    color: white;
}

.green-coin {
    color: lawngreen;
    font-weight: bold;
}

.market-table-margin {
    margin-top:20px;
    margin-left:20px;
}

.text-align-right {
    text-align: right;
}

.modal-content {
    background-color: #212121
}

